
/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.SKILLS CSS STYLE 
    -SINGLE SERVICE CSS
* 07.WORK CSS STYLE
* 08.COMPLETE PROJECT CSS STYLE
* 09.BLOG CSS STYLE
* 10.AVAILABLE CSS STYLE
* 11.CONTACT CSS STYLE
* 12.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #232323;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 70px 0px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 45px;
}

.section-title p {
    font-weight: 300;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 8px solid rgba(0, 0, 0, 0.08);
    border-right: 8px solid rgba(0, 0, 0, 0.08);
    border-bottom: 8px solid rgba(0, 0, 0, 0.08);
    border-left: 8px solid #000;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/bg.jpg);
    background-size: cover;
    z-index: 1;
    background-position: 0% 30% !important;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text h2 {
    color: #fafafa;
    font-size: 140px;
    font-weight: 900;
    text-transform: capitalize;
}

.header-text p {
    color: #fafafa;
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.header-text p:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f10d";
    font-family: fontawesome;
    margin-top: -8px;
    font-size: 10px;
    margin-left: -12px;
}

.header-text p:before {
    position: absolute;
    right: -14px;
    bottom: -8px;
    content: "\f10e";
    font-family: fontawesome;
    font-size: 10px;
}

.header-text .home-arrow-down {
    text-align: center;
    position: absolute;
    bottom: -210px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-text .home-arrow-down .btn {
    font-size: 30px;
}

.header-text .home-arrow-down .fa {
    color: #fafafa;
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-name: home-arrow-down;
    animation-name: home-arrow-down;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    color: #fff;
    text-transform: capitalize;
    background: #000;
    padding: 5px 10px;
}

.nav-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.toggle-btn {
    background-color: #000;
    border: 0 none;
    padding: 10px;
    outline: none;
}

.toggle-btn .icon-bar {
    background-color: #fafafa;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 22px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.toggle-btn.active .icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}

.toggle-btn.active .icon-bar:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-btn.active .icon-bar:nth-child(3) {
    top: -5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-btn .icon-bar:last-child {
    margin-bottom: 0;
}

.nav-toggle + .navbar-collapse {
    margin-right: 43px;
}

.site-header .navbar-collapse {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.site-header.active .navbar-collapse {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.mainmenu {
    margin-top: 18px;
}

.mainmenu .navbar-nav li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 300;
}

ul.navbar-nav {
    background: #000;
    margin-right: 5px;
    margin-top: 6px;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #ccc;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}



/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-image {}

.about-text h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 0;
}

.about-text p {
    font-weight: 300;
}



/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {
    background: #fafafa;
}

.single-service {}

.single-service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #232323;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 500;
}

.single-service p {
    color: #232323;
}


/*
* ----------------------------------------------------------------------------------------
* 06.SKILL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.skills-area {}

.single-progress-bar {
    margin-bottom: 30px;
}

p.progress-bar-text {
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 500;
}

.progress-bar-text span {
    float: right;
}

.progress-bar {
    background: #232323;
}

.progress {
    height: 10px;
    margin-bottom: 12px;
    background: #F7F7F7;
    box-shadow: none !important;
    border: 0;
    margin-top: 8px;
}

/*
* ----------------------------------------------------------------------------------------
* 07.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.work {
    background: #F7F7F7;
}

.work-inner .mix {
    display: none;
}

ul.work {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

ul.work li {
    display: inline-block;
    padding-bottom: 4px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

ul.work li:hover {
    color: #000;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom: 2px solid #000;
}

ul.work li.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.work .item {
    padding: 0;
    margin: 0;
}


.work figure.effect-bubba img {
    height: auto;
    width: 100%;
}

.work .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

.work .grid figure:hover {
    background: #000;
}

.work figure.effect-bubba h2 {
    margin-top: 20%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    background: #000;
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
}

.work figure.effect-bubba p {
    font-size: 16px;
    text-transform: lowercase;
}

.work figure.effect-bubba p strong {
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 5px;
}

.work .item:hover figure.effect-bubba h2 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: .3s;
    transition: .3s;
}


/*
* ----------------------------------------------------------------------------------------
* 08.COMPLETE PROJECT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-project-complete{
    text-align: center;
    
}

.single-project-complete i {
    font-size: 30px;
    color: #232323;
    
}

.single-project-complete h2 {
    font-size: 60px;
    font-weight: 900;
    color: #232323;
}

.single-project-complete h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 0;
}


/*
* ----------------------------------------------------------------------------------------
* 09.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.blog-area {
    background: #f7f7f7;
}

.single-blog {
    text-align: center;
    padding: 10px;
}

.single-blog a.blog-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    color: #333;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.single-blog a.blog-title:hover {
    color: #000;
}

.single-blog p {
    text-align: center;
}

a.read-more {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 12px 25px;
    margin-top: 10px;
    border: 1px solid #000;
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 30px;
}

a.read-more:hover {
    background: transparent;
    border: 1px solid #000;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}


/*
* ----------------------------------------------------------------------------------------
* 10.AVAILABLE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.available-work-area {
    position: relative;
    background: url(../images/bg/bg.jpg);
    background-size: cover;
    z-index: 1;
    padding: 150px 0px;
    background-attachment: fixed;
}

.available-work-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.available-text {
    background: #fff;
    border-radius: 100%;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    position: relative;
}

.available-text:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: #fff;
    content: "";
    margin-top: 40px;
    margin-left: 10px;
}

.available-text h2 {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #232323;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}

.social-links h3 a {
    color: #fafafa;
    font-weight: 300;
    font-size: 16px;
}


/*
* ----------------------------------------------------------------------------------------
* 11.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-me-area {}

.contact-form {
    border-radius: 3px;
    margin-top: 30px;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F7F7F7;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #fff;
    background: none;
    padding: 15px 25px;
    border: 1px solid #333;
    font-size: 14px;
    border-radius: 0px;
    font-weight: 300;
    -webkit-transition: .3s;
    transition: .3s;
    background: #000;
    text-transform: capitalize;
    border-radius: 30px;
}

.contact-form input[type='submit']:hover {
    background: transparent;
    border: 1px solid #000;
    color: #000;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

/*
* ----------------------------------------------------------------------------------------
* 12.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #0C0B0B;
    padding: 80px 0px;
}

.footer-area p {
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}







/*
* ----------------------------------------------------------------------------------------
* 17. BLOG PAGES DESIGN CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.blog-page-design-area {
    background: #000;
    padding-top: 150px;
    padding-bottom: 100px;
}

.blog-page-title-area h2 {
    color: #fff;
}

.single-blog-post {
    margin-bottom: 50px;
}

.single-blog-post h2 {
    font-size: 22px;
}

.single-blog-post a.read-more {
    background: #000;
    color: #fff;
}
.single-blog-post a.read-more:hover{
    background: transparent;
    color: #000;
}

.post-date {
    margin-bottom: 10px;
}

.post-date span {
    margin-right: 20px;
}

.post-date span i {
    margin-right: 5px;
    color: #333;
}

.single-blog-post p {
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-carosel-control {
    position: absolute;
    top: 50%;
    color: #000;
    font-size: 30px;
    margin-top: -50px;
    background: #333;
    height: 100px;
    width: 25px;
    text-align: center;
    line-height: 99px;
}

.blog-carosel-control.right {
    right: 0px;
    left: auto;
}

.pagination {
    margin: 0;
}

ul.blog_pagination li a {
    border: 1px solid #e8e8e9;
    border-radius: 0 !important;
    color: #353535;
    font-family: roboto, sans-serif;
    font-size: 16px;
    height: 35px;
    line-height: 20px;
    margin: 5px;
    width: 35px;
}

.black-icon {
    background: #333 none repeat scroll 0 0 !important;
    color: #fff !important;
}

.black-icon:hover {
    background: #333 !important;
}

.black-icon i {
    font-size: 14px;
}

ul.blog_pagination li a:hover {
    color: #fff;
    background: #333;
    border: 1px solid #333;
}

.single-side-bar {
    margin-bottom: 40px;
    overflow: hidden;
}

.single-side-bar h2 {
    margin-bottom: 15px;
    font-size: 22px;
    margin-top: 0;
    text-transform: capitalize;
}

.single-side-bar input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 0;
    box-shadow: none;
    color: #e3e8f0;
    height: 50px;
    float: left;
}

.single-side-bar input:hover,
.single-side-bar input:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

.single-side-bar button {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #fff;
    height: 42px;
    padding: 0 32px;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-side-bar button:hover {
    background: transparent;
    color: #000;
    border: 1px solid #333;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-side-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-side-bar ul li a {
    color: #767676;
    display: block;
    font-size: 14px;
    padding: 5px 0;
}

.single-side-bar ul li a span {
    float: right;
}

.single-side-bar ul li a:hover {
    color: #333
}

.single-blog-social-icon {
    overflow: hidden;
    float: left;
    width: 177px;
    margin-bottom: 10px;
}

.single-blog-social-icon i {
    border: 1px solid #333;
    border-radius: 50px;
    float: left;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    text-align: center;
    width: 50px;
}

.single-blog-social-icon .facebook {
    border: 1px solid #5d82d1;
    color: #5d82d1;
}

.single-blog-social-icon .twitter {
    border: 1px solid #00BFF3;
    color: #00BFF3;
}

.single-blog-social-icon .youtube {
    border: 1px solid #CB1D1F;
    color: #CB1D1F;
}

.single-blog-social-icon .youtube-play {
    border: 1px solid #CB1D1F;
    color: #CB1D1F;
}

.single-blog-social-icon .behance {
    border: 1px solid #0068FF;
    color: #0068FF;
}

.single-blog-social-icon .dribbble {
    border: 1px solid #EA4C8A;
    color: #EA4C8A;
}

.tag {
    overflow: hidden;
}

.tag a {
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 5px 8px;
    border: 1px solid #333;
}

.tag a:hover {
    color: #000;
    border: 1px solid #333;
    background: transparent;
}

.single-blog-post-details blockquote {
    font-size: 16px;
    line-height: 28px;
}

.next-previews-button-design {
    margin-top: 40px;
    overflow: hidden;
}

.next-previews-button-design a {
    color: #000;
}

.post-comments-area {
    overflow: hidden;
    margin-top: 50px;
}

.post-comments-area h2 {
    margin-bottom: 20px;
}

.single-comment {
    overflow: hidden;
    margin-bottom: 60px;
}

.single-comment img {
    float: left;
    margin-right: 50px;
    margin-bottom: 80px;
    width: 100px;
    border-radius: 50%;
}

.single-comment h5 {
    font-weight: 700;
}

.single-comment p {}

.single-comment a {
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-comment a:hover {
    color: #333;
}

.single-comment a i {
    font-size: 10px;
    background: #767676 none repeat scroll 0 0;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-comment a:hover i {
    background: #333 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 10px;
    padding: 5px;
}

.comment-form-area {
    margin-left: 150px;
}

.comment-form-area input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0;
}

.comment-form-area input:hover,
.comment-form-area input:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

.comment-form-area textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 150px;
    border-radius: 0;
}

.comment-form-area textarea:hover,
.comment-form-area textarea:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

.comment-form-area button {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #fff;
    font-size: 16px;
    padding: 7px 10px;
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 6px;
	height: 6px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #000;
}


/*added by me*/

.header-top-area.menu-bg {background-color: #ffffff; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);}
.toggle-btn {background-color: transparent;}
.logo a {background-color: transparent;}
.menu-bg .logo a {background-color: transparent; color: #12263F;}
.logo {padding-top: 20px;}
.menu-bg .toggle-btn {background-color: transparent;}
.menu-bg .toggle-btn .icon-bar {background-color: #12263F;}
.nav-toggle {top: 38%;}

ul.navbar-nav {background-color: transparent;}
.menu-bg .mainmenu .navbar-nav li a {color: #12263F;}
ul.navbar-nav {margin-top: 0 !important;}

a.read-more, .contact-form input[type='submit'] {padding: 8px 30px; line-height: 20px;}
.work figure.effect-bubba h2 {padding: 5px 12px; border-radius: 4px; font-weight: 500;}

.service-area, .blog-area, .work, .form-control {background-color: #f0f5f9;}
.single-service h2 {font-weight: 600;}

.form-control {border: 1px solid #e3ebf6; border-radius: 4px;}
.form-control:focus {border-color: #2c7be5;}

.work .grid figure:hover {background-image: linear-gradient( 108.4deg,  rgba(10,255,194,1) 11.2%, rgba(0,175,226,1) 88.6% ); background-color: transparent;}

/*.welcome-image-area:after {background-image: linear-gradient( 108.4deg,  rgba(10,255,194,0.5) 11.2%, rgba(0,175,226,0.5) 88.6% ); background-color: transparent;}*/
.available-text:before {transform:  rotate(-6deg);}
.welcome-image-area:after {background-color: rgba(0,0,0,.4);}
.available-work-area:after {background-color: transparent;
background-image: linear-gradient( 108.4deg,  rgba(10,255,194,0.5) 11.2%, rgba(0,175,226,0.5) 88.6% ); background-color: transparent;}

.available-work-area {background-image: url(../images/bg/bg-new.jpg);}
.available-text {}
.header-text h2 {font-size: 82px}
.header-text h4 {color: #ffffff; font-weight: 600;}

.footer-area {padding: 20px 0;}



@media (max-width: 767px) {
    .nav-toggle + .navbar-collapse {margin-right: 0; background-color: #000000;}
/*    .navbar-collapse.collapse.in {padding: 0;}*/
    ul.navbar-nav {margin: 0 !important;}
    .menu-bg .navbar-collapse {background-color: #000 !important;}
    .navbar-toggle {background-color: transparent !important;}
    .menu-bg .navbar-toggle .icon-bar {background-color: #000;}
/*    navbar-nobg {background-color: #000;}*/
    
    .menu-bg .mainmenu .navbar-nav li a {
    color: #12263F;
}
.menu-bg .navbar-collapse {
    background-color: #fff !important;
}

    
}